
<!DOCTYPE html>
<html>

<head>
    <title>send bill</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>


<body>

  <div ng-app="myApp" ng-controller="myCtrl">

    To<br>
    <input id="user" type="text" name="user"><br>
    Detail<br>
    <input id ="detail" type="text" name="detail">
         <button ng-click="myFunc()">OK</button>
   </div>

</body>
<script>

  var date = new Date().toLocaleDateString();

  console.log(date);

  var app = angular.module('myApp', []);

  app.config(function($httpProvider) {
      $httpProvider.defaults.xsrfCookieName = 'csrftoken';
      $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
  });
  app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
  });
  app.controller('myCtrl', function($scope, $http) {
    $scope.myFunc = function() {
      var user = angular.element(document.getElementById("user"));
      var detail = angular.element(document.getElementById("detail"));

      var parameter = JSON.stringify({username:user.val(), detail:detail.val(), time:date});
      console.log(parameter);

          $http.post("{% url 'send_notification' %}", parameter)
          .then(function(response) {
            console.log(response.status);
          }, function(response) {
              $scope.content = "Something went wrong";
          });
      };

  });
</script>

</html>
