
<!DOCTYPE html>
<html>

<head>
    <title> bill</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
  <div ng-app="myApp" ng-controller="myCtrl">

        bill<br>

         <button ng-click="myFunc()">get notification</button>
   </div>

  </div>


  <script>

    var app = angular.module('myApp', []);

    app.config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
    app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    });
    app.controller('myCtrl', function($scope, $http) {
      $scope.myFunc = function() {

            $http.get("{% url 'get_notification' %}")
            .then(function(response) {
              console.log(response.data.fields);
            }, function(response) {

            });
        };

    });
  </script>
</body>

</html>
