<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style type="text/css">
     
/*
      #contain{
        background: url('{%static 'Urgent/Garage/3G-Need help/6.png' %}');
        width: 400px;
        background-size: cover;
        }*/


 </style>
	<script type="text/javascript">
function myFunction() {
    var x = document.getElementById('containn');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

       
    </script> 
</head>
<body>  
        <!-- <div style=""> -->
            <div id="containn" style="background-color: #E75E55; border-radius: 5px; width: 250px; border: 2px solid #DC4F46;">
                <img src="{%static 'Urgent/Icon/Close.png' %}" style="position: relative; top:3px; left: 3px; width: 4%; margin: 1% 0 0 1%; ">
                    <h3 style=" font-size: 100%; color: white;  left: 15%; position: relative;">Someone need your help!!</h3>
                    <h3 style="font-size: 100%; color: white; left: 16%;position: relative;">[{}]</h3>

                    <div style="display: inline-block; text-align: center;">
                        <a id="decline" onclick="myFunction()"><img src="{%static 'Urgent/Garage/3G-Need help/9.png' %}" style="width: 30%; margin-left: 2%;margin-bottom: 2%;"></a>
                        <a  id="accecpt" onclick="myFunction2()"><img src="{%static 'Urgent/Garage/3G-Need help/10.png' %}" style="margin-bottom: 2%; width: 30%;"></a>
                    </div>
                 
            </div>
            <div id="paid" style="background-color: #E75E55; border-radius: 5px; width: 250px; border: 2px solid #DC4F46;">
                <img src="{%static 'Urgent/Icon/Close.png' %}" style="position: relative; top:3px; left: 3px; width: 4%; margin: 1% 0 0 1%; ">
                    <h3 style="text-align: center; font-size: 100%; color: white;  "><b>Do you get paid?</b></h3>
                    <div style="display: inline-block; text-align: center;">
                        <a id="decline" onclick="myFunction()"><img src="{%static 'Urgent/Garage/6G-Get paid/9.png' %}" style="width: 30%; margin-left: 2%;margin-bottom: 2%;"></a>
                        <a  id="accecpt" onclick="myFunction2()"><img src="{%static 'Urgent/Garage/6G-Get paid/10.png' %}" style="margin-bottom: 2%; width: 30%;"></a>
                    </div>
                 
            </div>



                
                    <div  id="contact" style=" width: 100%;">
                            <div  style="float: left; width: 50%; text-align: center;" >
                                <img src="{%static 'Urgent/Garage/5G-Client info/7.png' %}" style="width: 50%; margin: 7% 0 0 0; padding: 0;">
                            </div>
                            <div  style="width: 40%; display: inline-block;"  >
                                 <h3 style="font-size: 100%;">Name: [[]] <br>Client: [[]]<br>Phone: [[]]<br></h3>
                                 <a ><img style="width: 40%;" src="{%static 'Urgent/Garage/5G-Client info/8.png'%}"></a>
                            </div>


                    </div>


<div id = "contact" style=" width: 100%;">
        <div  style="float: left; width: 50%; text-align: center; " >
           <img src='https://www.mx7.com/i/1bc/4oKxKp.png' style="width: 50%; margin: 6% 0 0 0; padding: 0;">
      </div>
      <div  style="width: 40%; display: inline-block;"  >
           <h2 style="font-size:100%";>name : locations[i][0]</h2>
          <h2 style="font-size:100%";>time : locations[i][0]</h2>
             <img id="imgstar" style="width: 70%;" src="{%static 'Urgent/Client/4C-Location Select/7.png' %}"><br>
       <a onclick="myFunction("+i+")"><img id="imgselect" style="width: 70%;" src="{%static 'Urgent/Client/4C-Location Select/10.png' %}"></a>
      </div>
      </div>




                  <script type="text/javascript">
                  function addp(a) {
                    document.getElementById("test" + a).innerHTML = document.getElementById("test" + a).innerHTML + (' <div class="col-lg-12" style="height: 10px; "></div> <div class="col-lg-12" ><div class="radio"><input type="radio" name="optradio" > <input type="text" id="aaaa" class="form-control" placeholder="(ใส่คำตอบ ถ้าข้อนี้เป็นคำตอบให้กดที่วงกลมด้านหน้า)"></div></div>');

                }
                       var x = document.getElementById('contact');
                         x.style.display = 'none';


                         function myFunction2() {
                         var x = document.getElementById('contact');
                        if (x.style.display === 'none') {
                           x.style.display = 'block';
                        } else {
                          x.style.display = 'none';
                            }

                            var y = document.getElementById('containn');
                         y.style.display = 'none';
                            }

                  </script>
            
</body>
</html>
