<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
	function readURL(input, aa) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            name = '#blah' + aa;
                            $(name).attr('src', e.target.result);
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }
                function upload(value) {
                   console.log(value);
                        document.getElementById("blah").removeAttribute("src");
                        document.getElementById("blah").setAttribute("src","value")
                        document.getElementById("blah").setAttribute("width", '100px');
                         document.getElementById("blah").setAttribute("height", '100px');
                  
                }
</script>
<style>
		dun
</style>
</head>
<body>
		<!-- <img id="blah"> -->
		<img  id="blah" src="{%static 'Urgent/Garage/1G-Sign up/5.png' %}" style="height: 25%; width: 25%; cursor: pointer;" onclick="document.getElementById('imgInp1').click();"/>
		 <br>
         
          <input type='file' id="imgInp1" onclick="upload(value)" style="display:none;" />
<div></div>

</body>
</html>
